*{
  box-sizing: border-box;
  margin: 0;
}    
 
    
    nav{align-items: center;
      padding-right:40px ;
  display:flex ;
 height: 4rem;
  justify-content: right;
  /* margin: 20px; */

}
.app{
  width: 20px;
  margin-left: 10px; 
  height: 24px;
}
main{
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-contianer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined{
  position: relative;

  
  left: -35px;
  top: 0;
  bottom: 0;
}
.google-container{
width: 50%;

}
img{
  width: 100%;
  display: block;
}
.login{
  height: 23px;
  margin-left: 10px;
}

a{
  margin-left:10px ;
}
.img{
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
  
  
}
.logo{
width: 400px;
}

.input{
  
  

 top: 170px;
}

span{
  position: absolute ;
top: 6px;
right: 15px;
}



input{
margin-left: 15px;
  height: 40px;
  width:550px;
  border-radius: 20px;
}
.button{text-align: center;

}
.b2 {
  margin-left: 30px;
}